<div class="comments my-2 rounded p-2">
  <p class="comment-title">Comments:</p>
  {{#each this}}
    <ul class="comment-list row mx-5">
      <li class="comment row">
        <p class="comment-user col-1" >{{user.username}}:</p>
        <p class="comment-content col-11 text-center" >{{comment_text}}</p>
      </li>
    </ul>
  {{/each}}
    <form class="comment-form mx-5">
      <div>
        <textarea name="comment-body" class="rounded"></textarea>
      </div>
  
    <!-- buttons to add comments and say whether interested or going -->
    <div class="buttons">
      <button type="submit" class="add-comment-btn text-center rounded mb-3">Add comment</button>
      <button type="button" class="interested-btn text-center rounded mb-3">I'm Interested</button>
      <button type="button" class="going-btn text-center rounded mb-3">I'm Going</button>
    </div>
  </form>
</div>