

<!-- main body -->

<!-- main event info with comments -->
<div class="main-event rounded">
  <div class="description rounded p-2">
    <p class="title">{{event_name}}</p>
    <p clas="desctiption">{{event_description}}</p>
    {{#if event_url}}
    <div class="more-info row">
      <p class="title col-6 text-center">More Info:</p>
      <p class="content col-6"><a href={{event_url}} target="_blank">{{event_name}}</a></p>
    </div>
    {{/if}}
  </div>
</div>

