<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>who do?</title>
    <link ref="stylesheet" href="/stylesheets/loginStyles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
</head>
<body>
    <!-- begin header/navbar -->
    <header>

    </header>
    <!-- end header/navbar -->
    <!-- begin log in  -->
    <section>

    </section>
    <!-- end log in -->
    <!-- begin sign up -->
    <section>

    </section>
    <!-- end sign up -->
    <!-- begin footer -->
    <footer>

    </footer>
    <!-- end footer -->
</body>
</html>