:root {
    --primary-color: #07689f;
    --primary-color-light: #A2D5F2;
    --secondary-color: #FF7E67;
    --background-color: #FAFAFA;
}
/* header styling */
header {
    background-color: var(--primary-color-light);
    border-bottom: 2px solid var(--secondary-color);
}

header nav div a span {
    color: var(--primary-color);
}

.title {
    color: var(--primary-color);
}

.title h1 span {
    border-bottom: 2px solid var(--secondary-color);
}
/* end header style */

/* body styling */
body {
    font-family: 'Lora', serif;
    background-image: linear-gradient(to bottom right, var(--background-color), #FFFDD0 );
    padding-bottom: 60px;
    min-height: 100vh;
    min-width: 100vh;
}
/* card styling */
.card {
    border-radius: 1rem;
    border-color: var(--primary-color-light);
    margin-top: 60px;
    background-color: var(--primary-color-light);
}

h3 {
    text-align: center;
    margin-top: 10px;
    color: var(--primary-color);
    /* font-style: italic; */
}
 h3 span {
     border-bottom: 2px solid var(--secondary-color);
     padding-bottom: 10px;
 }
.btn {
    background-color: var(--secondary-color);
    color: var(--background-color);
}

.password-entry {
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 20px;
}

.material-symbols-outlined {
    color: var(--secondary-color);
}
/* sign in styling */
/* sign up card styling */
.signup-img {
    border-radius: 1rem 0 0 1rem;
}
/* about styling */
h4 {
    text-align:center;
    color: var(--primary-color);
}

h4 span {
    border-bottom: 2px solid var(--secondary-color);
    padding-bottom: 10px;
}
.about-card{
    background-color: var(--primary-color-light);
    color: var(--primary-color);
}

.github {
    text-align: center;
}

.github a {
    text-decoration: none;
    background-color: var(--secondary-color);
    color: var(--background-color);
}

/* vert banner styling */

.vert-banner-side {
    object-fit: cover;
    object-position: right;
    border-left: 5px solid var(--secondary-color);
}